# See https://github.com/srcshelton/docker-gentoo-web
/gentoo-web

# Don't archive logs
/log/*
/.backup/
/common.run.sh.debug.log
/inspect.docker.debug.log

# Exclude vim swapfiles
**/.*.sw[a-p]

/local.sh
/portage-cache.tar

# Make host-specific changes to these files as necessary...
#
/gentoo-base/etc/portage/package.use.build/package.use.local
/common/local.sh
#
# ... and then execute
#
#  git update-index --skip-worktree gentoo-base/etc/portage/package.use.build/package.use.local common/local.sh
#
# ... in order to cause git to ignore further changes.

# vi: set syntax=cfg:
